/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #db65d5;
  --ifm-color-primary-dark: #d54bce;
  --ifm-color-primary-darker: #d23eca;
  --ifm-color-primary-darkest: #b62aae;
  --ifm-color-primary-light: #e17fdc;
  --ifm-color-primary-lighter: #e48ce0;
  --ifm-color-primary-lightest: #edb3ea;

  --ifm-footer-background-color: #303846;
  --ifm-hero-background-color: #303846;

  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
